@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Custom scrollbar (optional, modern look) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-700 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151; /* gray-800 */
}

:root {
  /* width: 720px; */
  margin: auto;
}
